<div class="footer">
	<p>
		<a href="http://wanguoschool.com/help/20130718/3_1.html" target="_blank">关于我们</a> | <a href="http://wanguoschool.com/help/20130719/4_1.html" target="_blank">教务规定</a> | <a href="http://wanguoschool.com/help/20130719/5_1.html" target="_blank">支付流程</a> | <a href="#" target="_blank">招聘信息</a> | <a href="http://wanguoschool.com/help/20130719/6_1.html" target="_blank">加盟万国</a> | <a href="http://wanguoschool.com/help/20130719/8_1.html" target="_blank">联系我们</a>| <a href="http://wanguoschool.com/help/20130719/8_1.html" target="_blank">全国分校</a><br />
		Copyright 2002-2013 Powered by <a href="http://www.wanguoschool.com" target="_blank">wanguoschool.com</a> All Rights Reserved.<br />
		TEL：<span style="color: rgb(255, 0, 0);"><strong>123456</strong></span>（9:00-18:00）QQ：<strong><span style="color:#ff0000;">123456</span></strong>（9:00-18:00）<br />
		总部地址:北京市海淀区<br />
		京ICP备号</p>
