<div class="loginTop">
  <a class="logoin_logo" href="http://www.wanguoschool.com"><img src="<%= GlobalSettings.css_domain %>images/logo.png" width="130" height="35" /></a>
  <div class="loginR">·<a class="cor_bs" href="http://www.wanguoschool.com" target="_blank">万国教育</a> ·<a class="cor_bs" href="http://v.wanguoschool.com" target="_blank">万国网校</a> </div>
</div>