<div class="header_top">
		<div class="header_logo">
			&nbsp;</div>
		<div class="header_tit">
			<div class="header_t1">
				考试相关： <a href="http://wanguoschool.com/ksdt/20130721/55_1.html" target="_blank">介绍</a> <a href="http://wanguoschool.com/ksdt/jszg/20130731/454_1.html" target="_blank">条件</a>&nbsp;<a href="http://wanguoschool.com/ksdt/jszg/20130731/455_1.html" target="_blank">时间</a> <a href="http://wanguoschool.com/ksdt/jszg/20130731/456_1.html" target="_blank">报名</a> <a href="http://wanguoschool.com/ksdt/jszg/20130731/457_1.html" target="_blank">流程</a> <a href="http://wanguoschool.com/ksdt/jszg/20130731/458_1.html" target="_blank">查分</a></div>
			<div class="header_t2">
				课程相关： <a href="http://wanguoschool.com/fdkc/zg/list_1634_1.html" target="_blank">教师资格</a> <a href="http://wanguoschool.com/fdkc/zp/list_1635_1.html" target="_blank">教师招聘</a>&nbsp;<a href="http://v.wanguoschool.com" target="_blank">网校课程</a></div>
			<div class="header_t3">
				互动交流： <a href="#">答疑</a> <a href="#">微博</a> <a href="#">微信</a> <a href="#">人人</a> <a href="#">贴吧</a> <a href="#">经验</a></div>
			<div class="header_t4">
				学员中心： <a href="#" target="_blank">测评</a> <a href="http://shop.wanguoschool.com/" target="_blank">购书</a> <a href="http://wanguoschool.com/ztzl/" target="_blank">真题</a> <a href="#" target="_blank">作业</a>&nbsp;<a href="http://wanguoschool.com/bkzd/pth/list_1532_1.html" target="_blank">普通话</a></div>
		</div>
		<div class="header_tel">
			<a href="http://wanguoschool.com/zhaojian/" target="_blank"><img src="http://fjdown.wanguoschool.com/upload/artiRes/20130731/3d729903bafc4d34bcde8c58b694d687.jpg" /></a></div>
	</div>
	<div class="nav">
		<ul id="navnav">
			<li>
				<a href="http://wanguoschool.com" id="nav1">首页</a></li>
			<li>
				<a href="http://wanguoschool.com/ksdt/list_1504_1.html" id="nav2" target="_blank">考试动态</a></li>
			<li>
				<a href="http://wanguoschool.com/fdkc/zg/list_1634_1.html" id="nav3" target="_blank">教师资格</a></li>
			<li>
				<a href="http://wanguoschool.com/fdkc/zp/list_1635_1.html" id="nav4" target="_blank">教师招聘</a></li>
			<li>
				<a href="http://v.wanguoschool.com" id="nav5" target="_blank">万国网校</a></li>
			<li>
				<a href="http://shop.wanguoschool.com" id="nav6" target="_blank">报名中心</a></li>
			<li>
				<a href="http://v.wanguoschool.com/jiangzuo" id="nav7" target="_blank">公益讲座</a></li>
			<li>
				<a href="http://wanguoschool.com/ztzl/" id="nav8" target="_blank">真题资料</a></li>
			<li>
				<a href="http://wanguoschool.com/bkzd/list_1523_1.html" id="nav9" target="_blank">备考指导</a></li>
			<li>
				<a href="http://ask.wanguoschool.com/" id="nav10" target="_blank">在线答疑</a></li>
			<li>
				<a href="http://wanguoschool.com/xc/list_1613_1.html" id="nav11" target="_blank">图片现场</a></li>
			<li>
				<a href="http://wanguoschool.com/jy/list_1614_1.html" id="nav12" target="_blank">经验分享</a></li>
			<li>
				<a href="http://wanguoschool.com/news/list_1536_1.html" id="nav13" target="_blank">品牌万国</a></li>
		</ul>
	</div>
	<div class="nav_nav_x">
		<div class="nav_nav_t1">
			国考分校：<a href="http://sh.wanguoschool.com" target="_blank">上海</a> <a href="http://zj.wanguoschool.com" target="_blank">浙江</a> <a href="http://ah.wanguoschool.com" target="_blank">安徽</a> <a href="http://sd.wanguoschool.com" target="_blank">山东</a></div>
		<div class="nav_nav_t2">
			省考分校：<a href="http://bj.wanguoschool.com" target="_blank">北京</a>&nbsp;&nbsp;<a href="http://js.wanguoschool.com" target="_blank">江苏</a>&nbsp;&nbsp;<a href="http://nanjing.wanguoschool.com" target="_blank">南京</a>&nbsp;&nbsp;<a href="http://suzhou.wanguoschool.com" target="_blank">苏州</a></div>
	</div>
</div>
